/* @import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Michroma&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DynaPuff&family=Michroma&display=swap');

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    /* background-image: url(55555.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100% 50vh; ; */
}

.container {
    position: sticky;
    top: 0;
}

nav {
    /* background-color: rgb(3, 6, 65); */
    background-color: black;
    font-family: 'Michroma', sans-serif;
    color: black;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav a {
    color: #ff9900;
    text-decoration: none;
}

nav ul a:hover{
    color: white;
    box-shadow: #ff9900 4.95px 4.95px 6.6px;
}
.mohit {
    padding: 1vh 3vw;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.mo{
    /* padding: 1vh 0 0 0; */
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Cedarville Cursive', cursive;
    color: #ff9900;
}

.icon {
    padding: 0vh 1vw;
    height: 30px;
    width: 30px;
}
.flex {
    display: flex;
}

.right{
    align-items: center;

}
.left{
    align-items: center;
}
nav ul{
    padding: 0 3vw;
}
nav ul li {
    font-weight: 900;
    padding: 0 20px;
    list-style: none;
}

.section1 {
    background-image: url(img/kkk.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
    /* margin: 3vw 0; */
}

.justify-column {
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hey {
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

.name {
    font-weight: bold;
    color: #ff9900;
    font-size: 70px;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text2 10s steps(14)  infinite alternate;
    border-right: 3px solid black;
    
}

.dev {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.about {
    margin: 3vw 5vw;
}

.about img {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 55vh;
    width: 25vw;
}

.aboutcontent {
    margin-bottom: 20px;
}

.a1 {
    padding: 2vh 0;
}

.b1 {
    font-size: 18px;
    padding: 10px 0;
}

.b1rightpad {
    padding-left: 30px;
}

.b1left {
    font-weight: bold;
}

.b1right {
    font-size: 18px;
    color: rgb(101, 101, 101);
}

.aboutme {
    font-size: 50px;
    font-weight: bold;
}

.res {
    color: black;
    border-radius: 30px;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.res:hover {
    background-color: #ff9900;
}

.flexColumn {
    flex-direction: column;
}

.section2 {
    margin: 15vh 0;
}

.leftsidelist {
    padding: 0 0 0 15vw;
    /* top: 180px;
    position: -webkit-sticky;
    position: sticky;
    margin: 0; */
}

.rightsideallcont {
    padding: 0 10vw;
}

.section2 ul li{
    padding: 1vh 0;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}
.section2 ul li a{
    color: black;
    text-decoration: none;
}

.eduhead {
    padding: 2vw 0;
    color: #ff9900;
    font-size: 30px;
    font-weight: bolder;
}
.gap{
    margin: 0 0 6vh 0;    
}
.percent{
    padding:1vw 0 0 0;
}
.date {
    /* padding: 1vh 0; */
    color: #ff9900;
    font-size: 18px;
    font-weight: bold;
}

.degree {
    padding: 1vh 0;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.organisation {
    padding: 1vh 0;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.skillswrap{
    flex-wrap: wrap;
}

.skillsbox {
    width: 16vw;
    height: 40vh;
    margin: 5vh 2vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-wrap: anywhere;
}
.skillsbox:hover {
    background-color: #ff9900;
}
.section3 {
    margin: 1vh 0;
    flex-wrap: wrap;
}

.pro {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.project {
    width: 31vw;
    height: 50vh;
    margin: 5vh 2vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-wrap: anywhere;
}

.project:hover {
    background-color: #ff9900;
}

.project:hover .github {
    background-color: white;
}

.projectname {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    margin: 3vw;
    font-size: 12px;
}
.projectdisc{
    margin: 2vh;
}
.github {
    color: rgb(4, 6, 52);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2vh 2vw;
}

footer {
    bottom: 0;
    height: 50vh;
    background-color: black;
    color: white;
    font-size: larger
}

.icon2 {
    padding: 0vh 1vw 0 0;
    height: 20px;
    width: 20px;
}

.foothead {
    margin: 20px 0px;
    font-size: x-large;
}

.footcont {
    text-decoration: none;
    padding: 0px 10px 10px 0px;
    color: rgb(166, 168, 168);
}
.footdiv{
    padding: 0 0 2vh 0;
}

@keyframes text2 {
    0% {
        width: 0ch;
    }

    50% {
        width: 15ch;
    }
}